<div class="header">
    <div class="title" trans>Homepage</div>
    <div class="subtitle" trans>Configure what should be used for the site homepage.</div>
</div>

<form class="body many-inputs" (ngSubmit)="saveSettings()" ngNativeValidate>
    <div class="input-container">
        <label for="homepage.type" trans>Homepage Type</label>
        <select name="homepage.type" id="homepage.type" [(ngModel)]="state.client['homepage.type']">
            <option value="default">Default</option>
            <option value="component">Application Page</option>
            <option value="page">Custom Page</option>
        </select>
        <p trans>Type of the homepage.</p>
    </div>

    <div class="input-container" *ngIf="state.client['homepage.type'] === 'page'">
        <label for="homepage.value" trans>Custom Page Name</label>
        <input type="text" [formControl]="customPageSearch" [matAutocomplete]="auto" required>
        <p trans>Select a custom page that should be used for homepage.</p>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let page of filteredCustomPages | async" [value]="page.slug">{{page.slug}}</mat-option>
        </mat-autocomplete>
    </div>

    <div class="input-container" *ngIf="state.client['homepage.type'] === 'component'">
        <label for="homepage.value" trans>Application Page</label>
        <select name="homepage.value" id="homepage.value" [(ngModel)]="state.client['homepage.value']">
            <option value="login" trans>Login Page</option>
            <option value="register" trans>Register Page</option>
        </select>
        <p trans>Select application page that should be used for homepage.</p>
    </div>

    <button mat-raised-button color="accent" class="button primary update-button" type="submit" trans>Update</button>
</form>

<loading-indicator [isVisible]="loading" class="overlay"></loading-indicator>