@import "../../scss/variables";

groups {
  display: block;

  .spacing-container {
    padding: 25px;
    display: flex;
  }

  .new-group {
    border-bottom: 1px solid $site-border-color-200;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .admin-table-panel {
    flex: 1 1 auto;

    .assign-users-button {
      margin-right: 5px;
    }
  }
}