<mat-list role="list" *ngIf="getPlan()" [class.dense]="dense">
    <ng-container *ngIf="getPlan().show_permissions">
        <mat-list-item role="listitem" *ngFor="let permission of getPlan().permissions | mapToIterable">
            <svg-icon class="check-icon" name="check" *ngIf="showCheckIcons" matListIcon></svg-icon>
            <div class="mat-list-text">{{permission.key}}</div>
        </mat-list-item>
    </ng-container>
    <ng-container *ngIf="getPlan().features.length">
        <mat-list-item role="listitem" *ngFor="let feature of getPlan().features">
            <svg-icon class="check-icon" name="check" *ngIf="showCheckIcons" matListIcon></svg-icon>
            <div class="mat-list-text">{{feature}}</div>
        </mat-list-item>
    </ng-container>
</mat-list>