<div class="header">
    <span class="title" trans>Permissions</span>
    <button mat-raised-button color="accent" (click)="showAddPermissionsModal()" type="button" trans>Add</button>
</div>
<div class="manage-permissions" *ngIf="!addNewPermissionsActive">
    <div class="no-permissions" *ngIf="!_permissions.length" trans>No permissions yet.</div>

    <mat-chip-list [selectable]="false">
        <mat-chip (remove)="removePermission(permission.key)" [removable]="true" *ngFor="let permission of _permissions">
            <span>{{permission.name}}</span>
            <svg-icon name="cancel" matChipRemove></svg-icon>
        </mat-chip>
    </mat-chip-list>
</div>

<div class="error" *ngIf="errors && errors.permissions">{{errors.permissions}}</div>