<div class="field-container" (click)="openModal(field)">
    <div class="label">{{field.name}}</div>
    <div class="img-container">
        <img [src]="field.value" *ngIf="field.value">
        <div class="no-image" *ngIf="!field.value">
            <svg-icon name="photo-size-select-actual"></svg-icon>
            <span class="text" trans>Add</span>
        </div>

        <div class="actions-dropdown">
            <button class="no-style" [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()"><svg-icon name="settings" class="trigger-icon"></svg-icon></button>

            <mat-menu #actionsMenu>
                <div mat-menu-item (click)="remove()" *ngIf="field.value" trans>Remove</div>
                <div mat-menu-item (click)="useDefault()" *ngIf="field.defaultValue" trans>Use Default</div>
            </mat-menu>
        </div>

    </div>
</div>