billing-settings {
  display: block;
  
  .mat-chip-list-wrapper {
    display: block;
    
    label {
      display: block;
    }

    input {
      width: 100%;
      margin: 0 0 10px;
    }
    
    .chips-container {
      display: flex;
    }
  }
}